@model Pro1.Models.Portofolio

@{
    ViewBag.Title = "Delete";

    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2 class="text-center alert alert-dark">Delete</h2>

<h3 class="alert alert-danger">Are you sure you want to delete @Model.Prt_Name?</h3>
<div>
    <h4>Portofolio</h4>
       <hr />
       <table class="table table-hover">
           <tr class="alert alert-dark">
               <th>
                   @Html.DisplayNameFor(model => model.Prt_Name)
               </th>
               <th>
                   @Html.DisplayNameFor(model => model.Prt_Date)
               </th>
               <th>
                   @Html.DisplayNameFor(model => model.Prt_Client)
               </th>
               <th>
                   @Html.DisplayNameFor(model => model.Prt_Categry)
               </th>
               <th>
                   @Html.DisplayNameFor(model => model.Prt_img)
               </th>
               <th></th>
           </tr>

           <tr>
               <td>
                   @Html.DisplayFor(model => model.Prt_Name)
               </td>
               <td>
                   @Html.DisplayFor(model =>model.Prt_Date)
               </td>
               <td>
                   @Html.DisplayFor(model => model.Prt_Client)
               </td>
               <td>
                   @Html.DisplayFor(model => model.Prt_Categry)
               </td>
               <td>
                   <img src="~/Image/@Model.Prt_img" alt="Alternate Text" style="width:100px; height:100px;border:1px solid white ; border-radius:50px; " />
                   @*@Html.DisplayFor(modelItem => item.Prt_img)*@
               </td>
               </tr>
       </table>
       

           @using (Html.BeginForm())
           {
               @Html.AntiForgeryToken()

               <div class="form-actions no-color">
                   <input type="submit" value="Delete" class="btn btn-outline-danger form-control" />
                   <br />
                   <br />
                   <br />
                   @Html.ActionLink("Back to List", "AdminIndex", null, new { @class = "btn btn-outline-info" })
               </div>
           }
</div>
